{% extends 'base.html.twig' %}

{% block title %}Centre d'intérêts{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button type="submit">Register!</button>
    {{ form_end(form) }}

{% endblock %}