{% extends "base.html.twig" %}

{% block body %}
    <h1>Choisissez vos centre d'intérêts</h1>

    {{ form_start(form) }}
    {{ form_row(form.name, {'value': 'id'}) }}
    <button type="submit">Register!</button>
    {{ form_end(form) }}



{% endblock %}



