{% extends "base.html.twig" %}

{% block body %}
    <h1 class="my-4">Liste des Categories</h1>

    {% for category in category %}

                <a href="{{ path('product_by_category', {'id': category.getId()}) }}"><img src="{{ category.logo }}" width="25px" height="25px"><h3>{{ category.name }}</h3></a>
        <hr>
    {% endfor %}

    <a href="{{ path('all_product') }}"><h3>Toutes les catégories</h3></a>
{% endblock %}