{% extends "base.html.twig" %}

{% block body %}
    <h1>Choisissez vos centre d'intérêts</h1>

    {% for category in category %}
        <div>
            <div>
                <p>{{ category.name }}</p>
                <a  href="#">étoile</a>
            </div>
        </div>

        <hr>
    {% endfor %}

{% endblock %}