{% extends "base.html.twig" %}

{% block body %}
    <h1>Bienvenue sur Dayliz</h1>

    <a href="{{ path('category') }}"><h3>Connexion</h3></a>
    <a href="{{ path('register') }}"><h3>Inscription</h3></a>

    <p>Présentation du site/appli</p>

{% endblock %}