{% extends "base.html.twig" %}
{% block body %}


    <main>
        <h1>Dayliz</h1>
        <div id="paraph">
        <p>Caxime antea dierum hac Ergo multa cumulus pertinerent hominis tributus tributus causa cumulus ad cum idem decreverim publicae rei.</p>
        </div>

        <div id="intro">
            <a class="btn-index" href="{{ path('all_product') }}"><p>Connexion</p></a>
            <a class="btn-index" href="{{ path('register') }}"><p>Inscription</p></a>
        </div>
    </main>

{% endblock %}


