{% extends "base.html.twig" %}

{% block body %}
    <h1>Bienvenue sur Dayliz</h1>

    <p>a faire formulaire connection page accueil</p>
    <p>Bouton rediction register</p>
    <p>Présentation du site/appli</p>

{% endblock %}